.center-box {
    background-color: navy;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.center-item{
    background-color: beige;
    height: 70px;
    width: 70px;
}